#canvas-static,
#canvas-active {
  touch-action: none;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#canvas-active {
  z-index: 2;
}

#canvas-static {
  z-index: 1;
}
